h3,
h4 {
  font-family: "Oswald", sans-serif;
}

h4 {
  border: double #0779e4;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 20px;
  list-style: none;
}

button {
  background: #0779e4;
  border: 1px solid;
  color: #fff;
  padding: 6px 12px;
}
button:hover {
  color: #0779e4;
  background: linear-gradient(to top, #dfe9f3 0%, white 50%);
}
input {
  text-align: center;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 50%);
}
.container {
  border: 1px solid #0779e4;
  border-radius: 4px;
  max-width: 600px;
  margin: 30px auto 0;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.circle-container {
  border: 2px solid;
  border-radius: 50%;
  border-color: #0779e4;
  padding: 40px;
  margin: 40px;
  width: 250px;
  height: 250px;
  text-align: 100px;
}
.container-text {
  margin: 82px;
}
.date-time {
  margin: 90px;
}

.now-temp {
  font-size: 36px;
}
.units {
  font-size: 16px;
  position: relative;
  top: -15px;
}

.forecast-text {
  font-size: 20px;
}
.open-source {
  text-align: center;
  font-size: 120%;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
