h3,
h6 {
  font-family: "Open Sans", sans-serif;
}

h6 {
  margin: 20px;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 20px;
  list-style: none;
}

button {
  background: #0779e4;
  border: 1px solid;
  color: #fff;
  padding: 6px 12px;
}
button:hover {
  color: #0779e4;
  background: linear-gradient(to top, #dfe9f3 0%, white 50%);
}
input {
  text-align: center;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 50%);
  padding: 6px 12px;
}
.container {
  border: 1px solid #0779e4;
  border-radius: 4px;
  max-width: 600px;
  margin: 30px 0;
  margin-bottom: 0;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.circle-container {
  border: 2px solid;
  border-radius: 50%;
  border-color: #0779e4;
  display: block;
  padding: 44.8px;
  margin: 28px auto;
  width: 20em;
  height: 20em;
  text-align: 100px;
  position: relative;
}
.container-text {
  margin: 120px 82px 82px 82px;
}

.now-temp {
  font-size: 66px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -32px;
}
.date {
  margin-top: 20px;
  border: 1px solid;
  border-color: #0779e4;
  padding: 3px;
}
.forecast-stats {
  border: 2px solid;
}
.forecast-text {
  font-size: 16px;
}
.open-source {
  text-align: center;
  font-size: 120%;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.geolocation {
  border: 1px solid;
}
